<%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track': 'reload' %>
<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Users" %>
<h1>Users</h1>
<hr class="styled-hr">

<div id="users">
  <% @users.each do |user| %>
    <div class="user-card">
      <%= render user %>
      <p>
      </p>
    </div>
  <% end %>
</div>
