<%= stylesheet_link_tag 'user_profiles', media: 'all', 'data-turbolinks-track': 'reload' %>
<header>
  <div class="header-title">Stock'Em</div>
  <div>
    <span class="greeting">Hello, <span id="username"><%= @user_profile.first.name %></span></span>
    <button class="icon-button user-icon">
      <i class="fas fa-user"></i>
    </button>
  </div>
</header>

<% if notice.present? %>
  <p class="notice"><%= notice %></p>
<% end %>

<% content_for :title, "Users" %>
<h1>User Profile</h1>
<hr class="styled-hr">

<div id="users">
  <% @user_profile.each do |user_profile| %>
    <div class="user-card">
      <%= render "user_profile", user_profile: user_profile %>
      <p>
      </p>
    </div>
  <% end %>
</div>
<footer>
  <div>The Stock'Em Team, 2024</div>
</footer>
